---
layout: default
title: "TAGS"
nav-order: 3
description: "Keep hungry, keep foolish"
header-img: "img/tag-bg.png"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <!-- Blog Post List -->
        <div class="col-lg-8 col-md-8">
            {% for tag in site.tags %}
            <div class="one-tag-list">
                <span class="fa fa-tag listing-seperator" id="{{ tag[0] | slugify }}">
                    <span class="tag-text">{{ tag[0] }}</span>
                </span>
                {% for post in tag[1] %}
                 <div class="post-preview">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        {% if post.subtitle %}
                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        {% endif %}
                    </a>
                </div>
                <hr>
                {% endfor %}
            </div>
            {% endfor %}
        </div>

        <!-- Tag Cloud Sidebar -->
        <div class="col-lg-4 col-md-4">
            <div id="tag-cloud-container" style="position: -webkit-sticky; position: sticky; top: 80px;">
                <canvas width="300" height="300" id="tag-canvas"></canvas>
                <div id="tag-list" style="display:none;">
                    <ul>
                        {% for tag in site.tags %}
                        <li><a href="#{{ tag[0] | slugify }}" data-weight="{{ tag[1].size }}">{{ tag[0] }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts for TagCanvas -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script src="https://www.goat1000.com/tagcanvas.min.js"></script>
<script>
$(document).ready(function() {
    if ($('#tag-canvas').length) {
        try {
            TagCanvas.Start('tag-canvas', 'tag-list', {
                textColour: '#337ab7', // A modern blue
                outlineColour: '#76a2c9',
                reverse: true,
                depth: 0.8,
                maxSpeed: 0.05,
                initial: [0.05, -0.05],
                textFont: 'Helvetica, Arial, sans-serif',
                weight: true, // Use data-weight for font size
                weightMode: 'size',
                weightSizeMin: 12, // Min font size
                weightSizeMax: 30, // Max font size
                shadow: '#ccf',
                shadowBlur: 3,
                shuffleTags: true,
                wheelZoom: false, // Disable zoom on scroll
                noSelect: true,
                clickToFront: 500,
                // Add smooth scroll on click
                "onClick": function(e) {
                    e.preventDefault();
                    var targetId = $(this).attr('href');
                    var targetElement = $(targetId);
                    if(targetElement.length) {
                        $('html, body').animate({ 
                            scrollTop: targetElement.offset().top - 70 // Adjust offset for fixed navbar
                        }, 800);
                    }
                }
            });
        } catch(e) {
            // Fallback for browsers that don't support canvas
            document.getElementById('tag-cloud-container').style.display = 'none';
        }
    }
});
</script>